{
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "ignore": []
}
