@import 'libs/hotcss/px2rem.scss';

.wrapper {
  width: px2rem(414);
  min-height: 100vh;
  background: #F6F6F6;
  padding-top: px2rem(58.0);
}

.login-code-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: px2rem(18);
  color: #000000;
  span {
    color: #FF4F00;
  }
}

.form-wrapper {
  margin: px2rem(24.0) px2rem(20.0) 0;
}

.link-wapper {
  margin: px2rem(8.0) px2rem(20.0) 0;
}

.link{
  font-size: px2rem(18.0);
}