@import 'libs/hotcss/px2rem.scss';

.wyx-input {
  font-size: px2rem(16.0);
  height: px2rem(54.0);
  width: 100%;
  border: px2rem(0.5) solid #dbdbdb;

  &.input {
    box-shadow: none;
    border-color: #dbdbdb;
  }
}