@import 'libs/hotcss/px2rem.scss';

.wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: px2rem(34);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: px2rem(34);
  font-size: px2rem(18);
  color: #323232;
  position: relative;
  &.is-active {
    color: #FF4F00;
    &:after {
      position: absolute;
      bottom: px2rem(-4);
      left: 50%;
      margin-left: px2rem(-2);
      content: '';
      display: block;
      width: px2rem(4);
      height: px2rem(4);
      border-radius: px2rem(4);
      background: #FF4F00;
    }
  }
}